<app-admin></app-admin>
<div class="bg-black text-white w-90">
  <span *ngFor="let post of posts">
    <div class=" ">
      <h1>{{ post.title }}</h1>
      <h6>{{ post.lastUpdate }} {{ post.postedBy }}</h6>
      <img
        *ngIf="post.thumbnail"
        src="{{ post.thumbnail ? post.thumbnail : '' }}"
        alt=""
        class="w-24 h-24"
      />
      <p>
        {{ post.postDetails | slice : 0 : 99 }}
        <span *ngIf="!readMore"
          >...
          <a
            class="cursor-pointer underline text-blue-600"
            (click)="onReadMore()"
            >read more</a
          ></span
        >
      </p>
      <span *ngIf="readMore"
        >{{ post.postDetails | slice : 99 }}
        <!-- <iframe *ngIf="post.pdf" [src]="sanitizer.bypassSecurityTrustResourceUrl(post.pdf)" width="100%" height="600px"></iframe> -->
        <div class="flex justify-center items-center h-fit">
          <embed
            *ngIf="post.pdf"
            [src]="sanitizer.bypassSecurityTrustResourceUrl(post.pdf)"
            type="application/pdf"
            class="w-full max-w-4xl h-96 border-3"
          />
        </div>
        <a
          class="cursor-pointer underline text-blue-600"
          (click)="onReadMore()"
          >see less</a
        ></span
      >
    </div>
  </span>
  <span *ngIf="!posts">No available posts</span>
</div>
