
   <app-spinner *ngIf="dataLoading" ></app-spinner>
 


<div *ngIf="!dataLoading"  class="container mx-auto py-12 px-6">
  <h2 class="text-3xl font-extrabold text-center mb-6">
    {{ 'TITLE'|translate }}
  </h2>
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div *ngFor="let faq of 'FAQS'|translate; let i = index" class="border-b">
      <div class="p-6 cursor-pointer" (click)="toggleFAQ(i)">
        <h3 class="text-lg font-semibold">{{ faq.QUESTION | translate }}</h3>
      </div>
      <div *ngIf="isOpen.has('Q'+i)&& isOpen.get('Q'+i)"  class="p-6 bg-gray-100">
        <p>{{ faq.ANSWER | translate }}</p>
      </div>
    </div>
  </div>
</div>
