.container{
    display: flex;
    // height: 91vh;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 4vh;
    // background: #000;
    gap: 2vw;
    .side-nav{
        // display: flex;
        width: 20vw;
        // background: #d1caca;
    }
    .main-content{
        display: flex;
        flex-wrap: wrap;
        width: 60vw;
        // background: #bc1d1d;
        gap: 1vw;
        .load-more-button{
            background-color:rgb(1, 180, 228);
            color: white;
            margin-top: vh;
            width: 60vw;
            height: 3rem;
            border-radius: 5px;
            font-size: x-large;
            font-weight: bold;
            margin-bottom: 1vh;
            border: none;
        }
        .loader{
            width: 60vw;
            padding-top:30px ;
            margin-left: 50%;
            display: block;
        }
    }
    
}