.container{
    display: flex;
    // height: 91vh;
    width: 86vw;
    margin-left: 7vw;
    margin-top: 4vh;
    // background: #000;
    gap: 2vw;
    .side-nav{
        // display: flex;
        width: 24vw;
        background: #d1caca;
    }
    .main-content{
        display: flex;
        flex-wrap: wrap;
        width: 60vw;
        // background: #bc1d1d;
        gap: 1vw;
        
    }
    
}