<header class="bg-lime-500 text-white">
<nav class="flex items-center justify-between w-92% mx-auto">
    <div>
        <img class="w-24 h-20 hover duration-500" src="./assets/education-logo.png" alt="admission result logo">
    </div>
    <div class="mx-4">
        <ul class="flex items-center gap-[4vw]">
            <li class="hover btn-hover-header"><a >Home</a></li>
            <li class="hover btn-hover-header"><a >Admission Circular</a></li>
            <li class="hover btn-hover-header"><a >Admission Form</a></li>
            <li class="hover btn-hover-header"><a >Payment Instruction</a></li>
            <li class="hover btn-hover-header"><a >Admission Result</a></li>
            <li class="hover btn-hover-header"><a >Results</a></li>
        </ul>
    </div>

</nav>
</header>