// .intro {
//     background: #012d33;
//     color: white;
//     padding: 55px 0;
// }

// .container {
//     width: 80%;
//     margin: 0 auto;
//     max-width: 750px;
// }

// .intro-content {
//     width: 50%;
   
// }

.container{
    width: 80%;
    margin:0 auto;
    max-width: 750px;
    font-size: 2vh;
}
.content{
    width: 60%;
    font-size: 1rem;
}

.intro{
    background: #01292b;
    color:white;
    padding: 55px;

}
button{
    background: #03d3f8;
    color: black;
    padding: 1rem;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.25rem;
    margin:max(2%,20px) auto;
    cursor:pointer
}