<div class="container">
    <div class="container-header">
        <div class="heading">
            <h1>{{containerHeading}}</h1>
        </div>
        <div class="buttons">
            
            <button mat-button (click)="toggleContainerButton()" [ngClass]="isDefaultSelected?'textColor':''"> {{containerDefaultButton}} </button>
            <button mat-button (click)="toggleContainerButton()" [ngClass]="!isDefaultSelected?'textColor':''"> {{containerSecondaryButton}} </button>
            <div class="selected" [ngClass]="isDefaultSelected?'p-left':'p-right'"></div>
        </div>
    </div>

    <app-card></app-card>
</div>
