
  <div class="container">
    <div class="logo">
      <img src="../assets/logo/Tennant_logo.png" alt="" />
    </div>
    <div class="menu-items">
      <ul class="menu">
        <li *ngFor="let menu of menuItems">
          {{ menu.menuButtonTitle }}
          <span *ngIf="menu.subMenu.length>0">
          <ul class="sub-menu">
            <li *ngFor="let subMenu of menu.subMenu"> {{subMenu.subMenuButtonTitle}} </li>
          </ul>
        </span>
        </li>
      </ul>
    </div>
    <div class="alerts">
      <a>
        <fa-icon [icon]="icons.faBell"></fa-icon>
        <span [ngClass]="'view'">alerts</span>
        <span class="badge">3</span>
      </a>
    </div>
    <div class="profiles">
      <a><img src="../assets/logo/user_icon.png"> <span>{{userName}}</span></a>
    </div>
    <div class="toggle-button" (click)="toggleMenu()">
      <fa-icon [icon]="icons.faBars"></fa-icon>
    </div>
    <div>
    <!-- <span *ngIf="menuOpen" class="menuOpenIcon"> <fa-icon [icon]="icons.faSortUp"></fa-icon> </span> -->
    <div class="dropdown_menu" *ngIf="menuOpen">
          
      <li *ngFor="let menu of menuItems">
            {{ menu.menuButtonTitle }}
            <span *ngIf="menu.subMenu.length>0">
            <ul class="sub-menu">
              <li *ngFor="let subMenu of menu.subMenu"> {{subMenu.subMenuButtonTitle}} </li>
            </ul>
          </span>
          </li>
       <li> <a><img src="../assets/logo/user_icon.png">{{userName}}</a></li>
    
    </div>
  </div>
</div>
