<div class="h-screen 
flex items-center justify-center 
bg-gray-100
dark:bg-gray-900
"
>
<div class="absolute top-4 right-4 flex items-center">
  <label for="toggle" class=" cursor-pointer" >
      <div class="relative">
          <input id="toggle" type="checkbox" class="sr-only peer" (click)="onToggleMode()"/>
          <div class="w-6 h-2 bg-gray-400 rounded-full peer-checked:bg-green-400 transition-colors"></div>
          <div class="dot absolute w-4 h-4 bg-white rounded-full shadow -left-1 -top-1 transition-transform peer-checked:translate-x-full"></div>
      </div>
    </label>
    <div class="ml-3 text-gray-700 font-medium
    dark:text-white
    ">
        {{mode}} mode
    </div>
</div>
<!-- card item -->

  <!-- 

    <div
    class="max-w-sm 
    mx-auto p-8 
    bg-white 
    rounded-xl 
    shadow-md 
    space-y-2 
    sm:flex sm:items-center sm:py-4 sm:space-y-0 sm:space-x-6
    dark:bg-gray-800
    "
  >
    <img
      class="h-24 
      mx-auto 
      rounded-full 
      ring-4 ring-green-400 
      duration-500 
      transform
      hover:scale-110 
      sm:mx-0 sm:flex-shrink-0 
      "
      src="https://static.vecteezy.com/system/resources/previews/005/076/592/non_2x/hacker-mascot-for-sports-and-esports-logo-free-vector.jpg"
      alt=""
    />
    <div class="text-center 
    space-y-2 
    sm:text-left
   
    ">
      <div>
        <h1 class="text-lg 
        text-black font-semibold
        dark:text-gray-300
        ">Md Abu Noman</h1>
        <p class="text-gray-500 
        font-medium
        dark:text-gray-400
        ">Youtube Channel</p>
      </div>
      <button
        class="btn btn-purple"
      >
        Visit Now
      </button>
      <button
        class="btn btn-green ml-2"
      >
        Website
      </button>
    </div> 
  </div> 

-->
<!-- variant and other testing items -->
<div class="hover:rotate-0">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla magni accusantium sequi cum voluptatem commodi? Consectetur ullam enim debitis vitae dicta eius dolorem itaque architecto sapiente voluptatem! Provident, praesentium odio?
</div>

</div>
