.parent{
    background: #23424A;
    padding: 50px;
    width: 80%;
    margin: auto;
    color: white;
}
.child{
    width: 50%;
    // background: #38CFD9;
    // width: 10%;
    // height:   250px;
}