<div class="parent">
  <div class="child">
  <h1>Lorem ipsum dolor sit amet consectetur.</h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ullam aspernatur minima voluptas corrupti, laboriosam eius qui, culpa commodi aut tempore optio sed similique iusto, recusandae officia? Dolorem, vero repellendus facere dolore enim laborum magnam adipisci molestias sequi dolores consequatur cumque fugit sit tempore voluptates animi eaque itaque ullam sint corporis quaerat. Eaque, quas voluptatum voluptatem omnis doloribus eligendi nobis non possimus asperiores similique soluta quia sed earum tempora numquam enim optio esse illum quos vitae. Quos repellat esse, tempore rem reprehenderit a neque. Consequatur, beatae. Rem, molestias voluptatem? Hic nisi aspernatur enim iste? Quasi recusandae sit beatae libero. Accusantium!

  </div>
</div>