.card{
    // width: 150px;
    // height: 500px;
  
    box-shadow: none;
    align-items: left;
    // display: inline-block;
    img{
      width: 150px;
      height: 225px;
      // border-radius: 10px;
      // object-fit:fill;
  
    }
    .content {
        width: 50%;
        // height: 5vh;
        margin-bottom: -20px;
        // padding: 10px;
        // Ensure the content overflows into the image area
        position: relative;
        // top: -50%;
        transform: translate(10%,-50%);
        // transform: translateX(-40%);
      }
      .card-footer{
        margin-left: .7rem;
  
  
      }
    .cardAction{
       line-height: 1.1;
      font-size: medium;
      width: 150px;
        height: auto;
      &:hover{
       background-color: transparent;
        color: blue;
        cursor: pointer;
        // display: flex;
        // flex-wrap: wrap;
        
      }
  
    }
  
  }
  