<div class="container">
  <div class="container-header">
    <div class="heading">
      <h1>{{ containerHeading }}</h1>
    </div>
    <div class="buttons">
      <button
        mat-button
        (click)="toggleContainerButton()"
        [ngClass]="isDefaultSelected ? 'textColor' : ''"
      >
        {{ containerDefaultButton }}
      </button>
      <button
      *ngIf="containerSecondaryButton.length>0"
        mat-button
        (click)="toggleContainerButton()"
        [ngClass]="!isDefaultSelected ? 'textColor' : ''"
      >
        {{ containerSecondaryButton }}
      </button>
      <div
        class="selected"
        [ngClass]="isDefaultSelected ? 'p-left' : 'p-right'"
      ></div>
    </div>
  </div>
  <div *ngIf="loading$ | async">
    <app-ratting [mode]="'indeterminate'" [ratting]="''"></app-ratting>
  </div>
  <div class="content" *ngIf="!(loading$ | async)">
    <div  *ngFor="let singleCard of containerContent$|async">
      <app-card  [name]="singleCard.cardTitle" [subtitle]="singleCard.cardSubtitle" [image]="singleCard.cardImage">
        <app-ratting [ratting]="singleCard.cardRatting.toString()"></app-ratting>
      </app-card>
    </div>
  </div>
</div>
