.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  .container-header{
    display: flex;
    gap: 1.2rem;
    .buttons{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem 0 1rem;
        height: 2rem;
        border: 1px solid black;
        border-radius: 30px;
        gap: 1rem;
    }
    .selected{
        transition: all .3s ease-in-out;
        position: absolute;
        background-color:rgb(3, 37, 65);
        border-radius: 30px;
        height: 2rem;
        width: 50%;
        top: 0;
    }
    .p-left{
        left: 0;
    }
    .p-right{
        left:50%;
    }
    .textColor{
        color:white
    }

   
    
    
  }
  .content {
    display: flex;
    flex-direction: row;
    gap: 1rem; // Adds space between the cards
    overflow-x: auto; // Enables horizontal scrolling
    padding-bottom: 1rem; // Adds space between the bottom of the cards and the scroll bar

    ::-webkit-scrollbar {
        height: 12px; // Height of horizontal scrollbar
      }
  
      ::-webkit-scrollbar-track {
        background: #f1f1f1; // Background of the scrollbar track
        border-radius: 10px;
      }
  
      ::-webkit-scrollbar-thumb {
        background: #888; // Color of the scrollbar thumb
        border-radius: 10px;
      }
  
      ::-webkit-scrollbar-thumb:hover {
        background: #555; // Color when hovering over the scrollbar thumb
      }
      // Custom scrollbar for Firefox
      scrollbar-width: thin; // Thickness of the scrollbar
      scrollbar-color: #888 #f1f1f1; // Thumb color and track color
  }

//   app-card {
//     flex: 0 0 auto; // Ensures the card does not shrink and takes its natural width
//     height: auto; // Adjust the height of each card as needed
//   }
  
}
