 
 <span *ngIf="searchResult.length===0">
 <app-static-search></app-static-search>



<app-home-page-container
[type]="'trending'"
  [heading]="'Trending'"
  [defaultButton]="'Today'"
  [secondaryButton]="'This Week'"
  [loading$]="trendingLoading$"
  [content]="trendingData$"
>
</app-home-page-container>
<app-home-page-container
[type]="'trailer'"
  [heading]="'Trailer'"
  [defaultButton]="'Popular'"
  [secondaryButton]="'In Theaters'"
  [loading$]="trailerLoading$"
  [content]="trendingData$"
>
</app-home-page-container>
<app-home-page-container
[type]="'popular'"
  [heading]="'What\'s Popular'"
  [defaultButton]="'Movie'"
  [secondaryButton]="'TV Series'"
  [loading$]="popularLoading$"
  [content]="popularData$"
>
</app-home-page-container>
</span>
<div *ngIf="searchResult.length!==0" class="search-result">
  <span *ngFor="let item of searchResult">
    <app-card
    [name]="item.cardTitle"
    [image]="item.cardImage"
    [type]="'movie'"
    [subtitle]="item.cardSubtitle"
    [id]="item.id"
    >
  <app-ratting
  [ratting]="item.cardRatting.toString()"
  >

  </app-ratting>
  </app-card>
  </span>
</div>