<app-static-search></app-static-search>

<app-container
[type]="'trending'"
  [heading]="'Trending'"
  [defaultButton]="'Today'"
  [secondaryButton]="'This Week'"
  [loading$]="trendingLoading$"
  [content]="trendingData$"
></app-container>

<app-container
[type]="'trailer'"
  [heading]="'Trailer'"
  [defaultButton]="'Popular'"
  [secondaryButton]="'In Theaters'"
  [loading$]="trailerLoading$"
  [content]="trendingData$"
></app-container>

<app-container
[type]="'popular'"
  [heading]="'What\'s Popular'"
  [defaultButton]="'Movie'"
  [secondaryButton]="'TV Series'"
  [loading$]="popularLoading$"
  [content]="trendingData$"
></app-container>
