<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row pos">
        <div class="col-xs-12">
          <app-city-selector></app-city-selector>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <app-weather-display></app-weather-display>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- 
<div class="container-fluid px-1 px-md-4 py-5 mx-auto">
  <div class="row d-flex justify-content-center px-3">
      <div class="card">
          <h2 class="ml-auto mr-4 mt-3 mb-0">Toronto</h2>
          <p class="ml-auto mr-4 mb-0 med-font">Snow</p>
          <h1 class="ml-auto mr-4 large-font">-20&#176;</h1>
          <p class="time-font mb-0 ml-4 mt-auto">08:30 <span class="sm-font">AM</span></p>
          <p class="ml-4 mb-4">Wednesday, 18 October 2019</p>
      </div>
  </div>
</div> 
-->

<!-- ----------------- Hero ------------------ -->
<div class="hero">
  <div class="overlay">
    <div class="gradient">
      <h1 class="header text-center">Weather Dashboard</h1>
      <p class="sub-header text-center">
        From rain or shine - stay on top of the weather with our weather
        dashboard.
      </p>
    </div>
  </div>
</div>

<!-- -------------- Weather Dashboard -------------- -->
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <app-search></app-search>
    </div>
    <div class="col-xs-9">
      <app-weather-display></app-weather-display>
    </div>
  </div>
</div>
